.header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
}

@media screen and (max-width: 940px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}